<%- include('../layout/header.ejs') -%>

<div class="main">
  <div class="container">
    <div class="content add-post">
      
      <form method="post" class="post-form">
        <h1>Добавление поста</h1>
        <div class="form-group">
          <label for="post-title">Заголовок</label>
          <input type="text" id="post-title" />
        </div>

        <div class="form-group">
          <label for="post-body">Текст поста</label>
          <textarea id="post-body"></textarea>
        </div>

        <div class="buttons">
          <button class="save-button">Сохранить черновик</button>
          <button class="post-button">Запостить</button>
        </div>
      </form>

      <form method="post" enctype="multipart/form-data" id="fileinfo">
        <input type="file" name="images" required>
        <button class="upload-button">Загрузить</button>
      </form>


    </div>
    <%- include('../layout/sidebar') -%>
  </div>
</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="<%= assetFingerprint('/javascripts/scripts.js') %>"></script>
</body>
</html>
